# {{ project.name }}

{{ project.description }}

## Entities

{% for entity in (domain.relations|selectattr('name','equalto','entities')|first).children|list %}
### {{ entity.name }}

{{ entity.description }}

#### Attributes

{% for field in (entity.relations|selectattr('name','equalto','fields')|first).children|list %}
##### {{ field.name }} : {{ field.description }}

__Type__: {{ (field.attributes|selectattr('name','equalto','type')|first).value }}

{% endfor %}
{% endfor %}